<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <img id="rain-boots" class="img-responsive" src="/img/rain-boots.jpg" alt="an pair of rain boots"/>
    <h1>CRUD/L Shoe Stores Distribution</h1>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-3">
    <h1>List of Shoe Brand Names</h1>
    <hr>
    <% if @brands.any?() %>
    <ul>
      <% @brands.each do |brand| %>
      <li><a href="/brands/<%= brand.id() %>"><%= brand.brand_name()%></a></li>
      <% end %>
    </ul>
    <% else %>
    <p>There are no Brand Names yet!</p>
    <hr>
    <a href="/">Create a Shoe Store</a>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-3">
    <hr>
    <a href="/stores">List All Shoe Stores</a>
    <br>
    <a href="/">Home</a>
  </div>
</div>
