<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <% if @stores.any?() %>
      <h3>Stores:</h3>
      <ul>
        <% @stores.each() do |store| %>
          <li><a href="/store/<%= store.id()%>"><%= store.store_name() %></a></li>
        <% end %>
      </ul>
    <% else %>
      <p>
        There are no shoe stores yet!
      </p>
    <% end %>
    <hr>
  </div>
  <div class="col-md-3 col-md-offset-2">
    <% if @brands.any?() %>
      <h3>Brands:</h3>
      <ul>
        <% @brands.each() do |brand| %>
          <li><a href="/brand/<%= brand.id() %>"><%= brand.brand_name() %></a></li>
        <% end %>
      </ul>
    <% else %>
      <p>
        There are no shoe brands yet.
      </p>
    <% end %>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <h3>Add a Shoe Store</h3>
    <form class="form-group" action="/store_success" method="post">
      <label for="store-name">Store name</label>
      <input class="form-control" type="text" name="store-name">
      <button class="btn btn-primary" type="submit">Create New Shoe Store</button>
    </form>
  </div>
  <div class="col-md-3 col-md-offset-2">
    <h3>Add a Brand</h3>
      <form class="form-group" action="/brand_success" method="post">
      <label for="brand-name">Brand Name</label>
      <input class="form-control" type="text" name="brand-name">
      <button class="btn btn-primary"type="submit">Create New Shoe Brand</button>
    </form>
  </div>
</div>
