<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <img id="rain-boots-red" class="img-responsive" src="/img/rain-boots-red.jpg" alt="an pair of rain boots"/>
    <h1>CRUD/L Shoe Stores Distribution</h1>
    <br>
  </div>
</div>
<div class="row">
  <div class=""col-md-4 col-md-offset-3"">
    <h1>List of Shoe Stores</h1>
    <hr>
    <% if @stores.any?() %>
      <h3>Shoe Stores: </h3>
      <ul>
        <% @stores.each() do |store| %>
          <li><a href="/stores/<%= store.id() %>"><%= store.store_name() %></a></li>
          <% end %>
      </ul>
    <% else %>
      <p>There are no stores yet!</p>
      <br>
      <a href="/">Add a Store</a>
    <% end %>
    <br>
    <hr>
    <a href="/">Home</a>
  </div>
</div>
